.Header {
  position: relative;
  padding: 10px 0;
  text-align: center;

  &__title {
    font-size: 32px;
  }

  &__accountLink {
    position: absolute;
    display: block;
    text-decoration: none;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    top: 5px;
    right: 16px;
    background-color: var(--white);
  }

  &__avatar {
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 1px solid var(--pale_grey);
    object-fit: cover;
  }
}
