@font-face {
  font-family: 'PF Din Display Pro Light';
  src: url('../fonts/PFDinDisplayPro-Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'PF Din Display Pro Regular';
  src: url('../fonts/PFDinDisplayPro-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'PF Din Display Pro Medium';
  src: url('../fonts/PFDinDisplayPro-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'PF Din Display Pro Bold';
  src: url('../fonts/PFDinDisplayPro-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Asap Condensed Medium';
  src: url('../fonts/AsapCondensed-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Asap Condensed Regular';
  src: url('../fonts/AsapCondensed-Regular.ttf') format('truetype');
  font-display: swap;
}
