:root {
  --white: #ffffff;
  --blue: #1f7fb1;
  --dark-blue: #b4cbed;
  --white-blue: #b4cbed;
  --dark-blue-2: #b4cbed42;
  --brown: #5a2600;
  --grey: #9a9ca2;
  --dark_blue_0_05: rgba(42, 43, 55, 0.12);
  --pale_grey: #e8eaf023;
  --red: #da291c;
  --orange-juice: #f90;
}
