.Layout {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
}

.Header {
  color: var(--white);
  background-color: var(--blue);
}

.Content {
  flex: 1 1 auto;
  padding: 15px 50px;
}

.Footer {
  display: flex;
  align-items: center;
  height: 40px;
}
